div.string_name {
color : green;
background-color: #8c8c8c;
text-align: center
font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
